body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
}

* {
  line-height: 1;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #efefef;
}

img {
  width: 100%;
}

.social-header {
  display: none;
}

.headingcontainer {
  background-color: #f60b33;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav {
  display: none;
}

.headingcontainer a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header nav {
  float: right;
}

li .active a {
  color: yellow;
}

nav ul {
  background: #ff4545;
  position: absolute;
  padding: 2em 1.5em;
  left: 0;
  top: 0;
  border-radius: 0 50px;
  transition: all 3s;
  box-shadow: 2px 8px 18px 6px #c71b1b;
}

header nav ul a {
  display: block;
  padding: 2em;
}

header a img {
  max-width: 100px;
}

#navmenu {
  width: 35px;
  cursor: pointer;
  display: block;
  transition: all 3s;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.navchange {
  display: block;
  top: 0;
  height: 100%;
  transition: all 3s;
  z-index: 2;
}

.logomain {
  width: 200px;
  margin: 0 auto;
}

.intropage {
  padding-top: 7em;
  background-color: #f60b33;
  display: grid;
  place-content: center;

  h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    padding: 0 1em;
    overflow-wrap: break-word;
  }
  p {
    color: #fff8f8;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0 1em;
  }

  h5 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 0 1em;
  }

  .homebuttton {
    display: grid;
    place-content: center;
    padding: 1em 0;
    .actionbutton {
      display: flex;
      justify-content: space-between;
      button {
        padding: 1em 1.5rem;
        display: inline-block;
        margin: 1em;
        border: none;
        font-weight: bold;
      }

      .productbtn {
        background: yellow;
      }
    }
  }
}

.socialheaderlink {
  background: #cf0124;
  margin-top: 1em;
  .socialgripview {
    display: grid;
    place-content: center;
    ul {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      li {
        margin: 0.5rem;
        font-size: 10px;
      }
    }
  }
}

section {
  padding: 4em 1em;

  .sectiontitle {
    color: rgb(44, 43, 43);
    text-align: center;
  }
  .sectiondesc {
    text-align: center;
    line-height: 1.5;
  }
}

.aboutcompany {
  padding: 2em 0;
  .card {
    text-align: center;
    .cardtitle {
      color: #333;
      font-size: 18px;
    }

    .carddesc {
      line-height: 1.5;
      color: gray;
    }
  }
}

.productsection {
  padding: 4em 0;

  .productcard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 60px;
      margin: 0.8em;
    }

    .productdetails {
      .productitle {
        color: #222222;
        font-weight: bold;
        text-transform: uppercase;
      }
      .productdesc {
        color: #333;
        line-height: 1.5;
        font-size: 15px;
      }
    }
  }
}

.combacksection {
  background: #f60b33;

  .comeback {
    color: whitesmoke;
    line-height: 1.5;
    font-size: 2rem;
  }

  p {
    line-height: 1.5;
    color: #ffe6da;
  }

  button {
    padding: 1em 2em;
    border: none;
    background: yellow;
    text-transform: uppercase;
  }
}

.teamcard {
  padding: 2em 0;
  display: grid;
  place-content: center;

  img {
    width: 190px;
    margin: 0 auto;
  }

  .teaminfo {
    text-align: center;

    .teamname {
    }
    .teamtitle {
      color: #333;
    }
    .teamdesc {
      color: #666;
      line-height: 1.5;
    }
  }
}

.contactsection {
  padding: 4em 0;
  background: #f60b33;

  h1 {
    text-align: center;
    color: honeydew;
  }

  .contactintro {
    text-align: center;
    line-height: 1.5;
    color: #ffc1c1;
    padding: 0 2em;
  }

  .contactdata {
    display: grid;
    place-content: center;
    padding-top: 4em;
    color: #ffc1c1;
    .contactnumber {
      text-align: center;
    }
  }

  .foottercontactbtn {
    display: grid;
    place-content: center;

    .buttoncoll {
      display: flex;
      justify-content: space-between;

      padding: 2em;

      button {
        margin: 0.2rem;
        padding: 1em 1.2em;
        border: none;
        width: 100%;
        background: #f60b33;
        box-shadow: 1px 4px 6px 1px #ad0421;
        color: #f1d8ff;
      }
    }
  }
}

/* media queries */

@media only screen and (min-width: 768px) {
  #menu-bar {
    display: none;
  }

  nav {
    display: block;
  }

  header nav ul {
    display: flex;
    background: unset;
    position: relative;
    padding: unset;
    left: 0;
    top: 0;
  }
  header nav ul a {
    display: block;
    padding: 0 1em;
  }
  .intropage {
    .companytitledesc {
      padding: 2em 4em;
    }
  }

  .aboutkampany {
    padding: 5em 2em;

    .aboutcompany {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 2em;
      padding: 3em;
    }
  }

  .productsection {
    .productlisting {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 2em;
      padding: 3em;

      .productcard {
        align-items: unset;
        img {
          width: 50px;
          height: 60px;
        }
      }
    }
  }

  .combacksection {
    text-align: center;
  }

  .buttoncoll {
    padding: 2em;
    button {
      padding: 1.2em 3em !important;
      width: 100% !important;
    }
  }

  .meettheteam {
    .teamlisting {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 2em;
      padding: 4em 2em;
    }
  }

  section {
    padding: 4em 0;

    .sectiondesc {
      padding: 2em;
    }
  }
}

@media only screen and (min-width: 800px) {
  #menu-bar {
    display: none;
  }

  nav {
    display: block;
  }

  .buttoncoll {
    padding: 2em;
    button {
      padding: 1.2em 3em !important;
      width: 100% !important;
    }
  }

  header nav ul {
    display: flex;
    background: unset;
    position: relative;
    padding: unset;
    left: 0;
    top: 0;
  }
  header nav ul a {
    display: block;
    padding: 0 1em;
  }

  .intropage {
    h1 {
      font-size: 3.5rem;
    }
    .companytitledesc {
      padding: 2em 4em;
    }

    h5 {
      font-size: 2rem;
    }

    .homebuttton {
      .actionbutton {
        button {
          padding: 1em 2.5em;
        }
      }
    }
  }

  .aboutkampany {
    padding: 5em 2em;

    .aboutcompany {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 4em;
      padding: 3em 4em;
    }
  }

  .productsection {
    .productlisting {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 3em;
      padding: 3em 5em;

      .productcard {
        align-items: unset;
        img {
          width: 50px;
          height: 60px;
        }
      }
    }
  }

  .combacksection {
    text-align: center;
  }

  .meettheteam {
    .teamlisting {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 4em;
      padding: 0 4em;
    }
  }

  .buttoncoll {
    padding: 2em;
    button {
      padding: 1.2em 3em !important;
      width: 100% !important;
    }
  }

  section {
    padding: 4em 0;

    .sectiondesc {
      padding: 2em 4em;
    }
  }
}

@media only screen and (min-width: 1050px) {
  .intropage {
    h1 {
      font-size: 3.5rem;
      padding: 0;
      margin: 0;
    }

    p {
      font-size: unset;
      margin: 0 7em;
      padding: 0;
      margin: 0;
    }
    .companytitledesc {
      padding: 2em 4em;
    }

    h5 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
    }

    .homebuttton {
      .actionbutton {
        button {
          padding: 1em 2.5em;
        }
      }
    }
  }

  .aboutkampany {
    margin: 0 7em;

    .aboutcompany {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 4em;
      padding: 3em 4em;
    }
  }

  .productsection {
    margin: 0 7em;

    .productlisting {
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-gap: 3em;
      padding: 3em 5em;

      .productcard {
        align-items: unset;
        img {
          width: 50px;
          height: 60px;
        }
      }
    }
  }

  .combacksection {
    text-align: center;
    margin: 0 7em;
  }

  .meettheteam {
    margin: 0 7em;

    .teamlisting {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 4em;
      padding: 0 4em;
    }
  }

  section {
    .sectiontitle {
      font-size: 2.8rem;
    }
    .sectiondesc {
      padding: 2em 4em;
    }
  }

  .buttoncoll {
    padding: 2em;
    button {
      padding: 1.2em 3em !important;
      width: 100% !important;
    }
  }

  .socialgripview {
    ul {
      li {
        font-size: 18px !important;
      }
    }
  }
}
