body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins";
}

* {
  line-height: 1;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #efefef;
}

img {
  width: 100%;
}

.social-header {
  display: none;
}

.headingcontainer {
  background-color: #f60b33;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

nav {
  display: none;
}

.headingcontainer a {
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header nav {
  float: right;
}

li .active a {
  color: yellow;
}

nav ul {
  background: #f60b33;
  position: absolute;
  padding: 2em 1.5em;
  left: 0;
  top: 92px;
}

header nav ul a {
  display: block;
}

header a img {
  max-width: 100px;
}

#navmenu {
  width: 35px;
  cursor: pointer;
  display: block;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: white;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

.change #bar2 {
  opacity: 0;
}

.navchange {
  display: block;
  top: 0;
  height: 100%;
  z-index: 2;
}

.intropage {
  padding-top: 4em;
  background-color: #f60b33;

  h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 2rem;
    padding: 0 0.5em;
    overflow-wrap: break-word;
  }
  p {
    color: #fff8f8;
    text-align: center;
    font-size: 0.9rem;
    line-height: 1.5;
    padding: 0 1em;
  }

  h5 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 0 1em;
  }

  .homebuttton {
    display: grid;
    place-content: center;
    .actionbutton {
      display: flex;
      justify-content: space-between;
      button {
        padding: 1em 1.5rem;
        display: inline-block;
        margin: 1em;
        border: none;
        font-weight: bold;
      }

      .productbtn {
        background: yellow;
      }
    }
  }
}

.socialheaderlink {
  background: #cf0124;
  .socialgripview {
    display: grid;
    place-content: center;
    ul {
      display: flex;
      justify-content: space-between;
      padding: 1em;

      li {
        margin: 0.5rem;
        font-size: 10px;
      }
    }
  }
}

section {
  padding: 4em 1em;

  .sectiontitle {
    color: rgb(44, 43, 43);
    text-align: center;
  }
  .sectiondesc {
    text-align: center;
    line-height: 1.5;
  }
}

.aboutcompany {
  padding: 2em 0;
  .card {
    text-align: center;
    .cardtitle {
      color: #333;
      font-size: 18px;
    }

    .carddesc {
      line-height: 1.5;
      color: gray;
    }
  }
}

.productsection {
  padding: 4em 0;

  .productcard {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 60px;
      margin: 0.8em;
    }

    .productdetails {
      .productitle {
        color: #222222;
        font-weight: bold;
        text-transform: uppercase;
      }
      .productdesc {
        color: #333;
        line-height: 1.5;
        font-size: 15px;
      }
    }
  }
}

.combacksection {
  background: #f60b33;

  .comeback {
    color: whitesmoke;
    line-height: 1.5;
    font-size: 2rem;
  }

  p {
    line-height: 1.5;
    color: lightcyan;
  }
}

.teamcard {
  padding: 2em 0;
  display: grid;
  place-content: center;

  img {
    width: 190px;
    margin: 0 auto;
  }

  .teaminfo {
    text-align: center;

    .teamname {
    }
    .teamtitle {
      color: #333;
    }
    .teamdesc {
      color: #666;
      line-height: 1.5;
    }
  }
}

.contactsection {
  padding: 4em 0;
  background: #cf0124;

  h1 {
    text-align: center;
    color: honeydew;
  }

  .contactnumber {
    display: flex;
  }
}

/* media queries */

@media only screen and (min-width: 800px) {
  #menu-bar {
    display: none;
  }

  nav {
    display: block;
  }

  header nav ul {
    display: flex;
    background: unset;
    position: relative;
    padding: unset;
    left: 0;
    top: 0;
  }
  header nav ul a {
    display: block;
    padding: 0 1em;
  }
}

@media only screen and (min-width: 1050px) {
}
